body {
  display: grid;
  place-content: center;
  text-align: center;
}

#game-area {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}
